*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: url(3289055.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none;
    color: black;
  }
section{
    width: 100vw;
    height:100vh;
}

nav {
    top: 0;
    height:10vh;
    background-color: rgba(83, 141, 136, 0.493);
    display: flex;
    align-items: center;
    width: 100%;
}
.container{
    width: 35vw;
    height: fit-content;
    position: absolute;
    background-color: rgba(83, 141, 136, 0.350);
    top: calc(50vh - 50vh/2);
    left: calc(50vw - 35vw/2);
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(68, 70, 69, 0.493);
    overflow-wrap:normal;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    position: relative;
    background-color: rgba(83, 141, 136, 0.350);
    top: 10vh;
    left: calc(50vw - 75vw/2);
    padding: 2em;
    padding-bottom: 0;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgba(68, 70, 69, 0.493);
}
td{
    border: 3px solid;
    font-size: 18px;
}
th{
    border: 5px solid;
    font-size: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
}
nav ul li{
    text-decoration: none;
    color: #c21c16;
    text-transform: uppercase;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #1c573e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}

#textInImg{
    padding: 1.5em  1.2em;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 3.3vw;
}

/* #textInImg2{
position: relative;
top: 10vh;
left: 5vw;
right: 40vw;
color: rgb(0, 0, 0);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}
#textInImg3{
position: relative;
top: 10vh;
left: 5vw;
right: 5vw;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}

#textInImg4{
position: relative;
font-size: 50px;
top: 25px;
left: calc(50% - 15vh/2);
}
#textInImg5{
font-size: 20px;
top: 50px;
left: 5vw;
right: 5vw;
} */
img{
    position: relative;
    width: 500px;
    height: auto;
    padding: 2em;
    align-self: center;
}
#link2{
    text-decoration: underline;
}
footer{
    display: flexbox;
    position: relative;
    align-items: center;
    justify-content: center;
}

.inline{
    display: inline-block;
}